**Chapter 2**

In [1]:
hierin deelvraag 1 maken?

Object `maken` not found.

In [6]:
pip install openpyxl

Requirement already satisfied: openpyxl in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-macosx_10_9_x86_64.whl.metadata (89 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.1.2-cp312-cp312-macosx_14_0_x86_64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/Gijs/Library/Python/3.12/lib/python/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/Gijs/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp312-cp312-macosx_10_9_x86_64.whl (12.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.5/12.5 MB 14.3 MB/s eta 0:00:0000:010:01
Downloading numpy-2.1.2-cp312-cp312-macosx_14_0_x86_64.whl (6.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.6/6.6 MB 11.7 MB/s eta 0:00:00a 0:00:01
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.2 pandas-2.2.3 pytz-2024.2 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

In [9]:
pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.9.2-cp312-cp312-macosx_10_12_x86_64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.0-cp312-cp312-macosx_10_9_x86_64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.54.1-cp312-cp312-macosx_10_13_universal2.whl.metadata (163 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.7-cp312-cp312-macosx_10_9_x86_64.whl.metadata (6.3 kB)
Requirement already satisfied: numpy>=1.23 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (2.1.2)
Requirement already satisfied: packaging>=20.0 in /Users/Gijs/Library/Python/3.12/lib/python/site-packages (from matplotlib) (24.1)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-10.4.0-cp312-cp312-macosx_10_10_x86_64.whl.metadata (9.2 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.1.4-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in /Users/Gijs/Library/Python/3.12/lib/python/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Users/Gijs/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Downloading matplotlib-3.9.2-cp312-cp312-macosx_10_12_x86_64.whl (7.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.9/7.9 MB 14.4 MB/s eta 0:00:00a 0:00:01
Downloading contourpy-1.3.0-cp312-cp312-macosx_10_9_x86_64.whl (267 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.54.1-cp312-cp312-macosx_10_13_universal2.whl (2.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 12.7 MB/s eta 0:00:00a 0:00:01
Downloading kiwisolver-1.4.7-cp312-cp312-macosx_10_9_x86_64.whl (65 kB)
Downloading pillow-10.4.0-cp312-cp312-macosx_10_10_x86_64.whl (3.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.5/3.5 MB 14.4 MB/s eta 0:00:00a 0:00:01
Downloading pyparsing-3.1.4-py3-none-any.whl (104 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.0 cycler-0.12.1 fonttools-4.54.1 kiwisolver-1.4.7 matplotlib-3.9.2 pillow-10.4.0 pyparsing-3.1.4
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [125]:
spits = pd.read_excel("/Users/Gijs/Documents/GitHub/TIL6010-LabAssignments/datasets_spitsuren_wegvakken/INWEVA_2019_spits.xlsx", usecols=['VIAS-baannr', 'Baantype_van', 'Ri_van', 'Wegnr_van', 'Hm_van' , 'Ri_naar', 'Baantype_naar', 'Hm_naar', 'Wegnr_naar', 'OS_AL', 'AS_AL'])

In [151]:
filter_spits = spits[(spits['Wegnr_van'] == 4) & (spits['Wegnr_naar'] == 4) & (spits['Baantype_van'] == 'HR') & (spits['Baantype_naar'] == 'HR')]
filter_spits_HM = filter_spits[(filter_spits['Hm_van'] <= 150000) & (filter_spits['Hm_naar'] <= 150000)]

filtered_L = filter_spits_HM[(filter_spits_HM['Ri_van'] == 'L') & (filter_spits_HM['Ri_naar'] == 'L')]

final_L = filtered_L.sort_values(by='Hm_van', ascending=True)
mean_L_OS = final_L['OS_AL'].mean()
mean_L_AS = final_L['AS_AL'].mean()
print(f'The mean intensity on the right side of the A4 is {mean_L_OS:.0f} vehicles during the morning rush hour ')
print(f'The mean intensity on the right side of the A4 is {mean_L_AS:.0f} vehicles during the afternoon rush hour')

final_L.head(20)

The mean intensity on the right side of the A4 is 9876 vehicles during the morning rush hour
The mean intensity on the right side of the A4 is 8915 vehicles during the afternoon rush hour

,VIAS-baannr,Wegnr_van,Ri_van,Hm_van,Baantype_van,Wegnr_naar,Ri_naar,Hm_naar,Baantype_naar,OS_AL,AS_AL
2166,5137,4.0,L,952,HR,4.0,L,2,HR,10936,8768
2141,5086,4.0,L,1805,HR,4.0,L,952,HR,14909,13252
2127,5040,4.0,L,2550,HR,4.0,L,1805,HR,13386,11481
2064,4908,4.0,L,3274,HR,4.0,L,2550,HR,16087,13485
6880,22325,4.0,L,3997,HR,4.0,L,3274,HR,14109,10774
2037,4822,4.0,L,5150,HR,4.0,L,3997,HR,11320,8547
2010,4770,4.0,L,6128,HR,4.0,L,5150,HR,14004,12174
1933,4594,4.0,L,9255,HR,4.0,L,6128,HR,11754,9180
1903,4511,4.0,L,10022,HR,4.0,L,9255,HR,14650,10499
1855,4375,4.0,L,10823,HR,4.0,L,10022,HR,11057,7074
1736,4151,4.0,L,13749,HR,4.0,L,10823,HR,15605,11227
7614,4025,4.0,L,14637,HR,4.0,L,13749,HR,19663,13714
7607,3977,4.0,L,15351,HR,4.0,L,14637,HR,19663,13714
7594,3900,4.0,L,17209,HR,4.0,L,15351,HR,19663,13714
1587,3778,4.0,L,17749,HR,4.0,L,17209,HR,16168,11552
1570,3745,4.0,L,19234,HR,4.0,L,17749,HR,10039,8097
1473,3558,4.0,L,22843,HR,4.0,L,19234,HR,10739,9439
1469,3541,4.0,L,23901,HR,4.0,L,22843,HR,9422,8962
1390,3341,4.0,L,28680,HR,4.0,L,23901,HR,9760,9438
1339,3247,4.0,L,30220,HR,4.0,L,28680,HR,8819,8846

In [152]:
filtered_R = filter_spits_HM[(filter_spits_HM['Ri_van'] == 'R') & (filter_spits_HM['Ri_naar'] == 'R')]
final_R = filtered_R.sort_values(by='Hm_van', ascending=True)

mean_R_OS = final_R['OS_AL'].mean()
mean_R_AS = final_R['AS_AL'].mean()
print(f'The mean intensity on the left side of the A4 is {mean_R_OS:.0f} vehicles during the morning rush hour ')
print(f'The mean intensity on the left side of the A4 is {mean_R_AS:.0f} vehicles during the afternoon rush hour')

final_R.head(20)

The mean intensity on the left side of the A4 is 7932 vehicles during the morning rush hour
The mean intensity on the left side of the A4 is 8605 vehicles during the afternoon rush hour

,VIAS-baannr,Wegnr_van,Ri_van,Hm_van,Baantype_van,Wegnr_naar,Ri_naar,Hm_naar,Baantype_naar,OS_AL,AS_AL
2156,5111,4.0,R,21,HR,4.0,R,1419,HR,8406,9866
2142,5087,4.0,R,1419,HR,4.0,R,1851,HR,13512,14267
2128,5041,4.0,R,1851,HR,4.0,R,2752,HR,12445,12888
2082,4947,4.0,R,2752,HR,4.0,R,3390,HR,13959,15482
2036,4821,4.0,R,3390,HR,4.0,R,6094,HR,6719,8530
1997,4728,4.0,R,6094,HR,4.0,R,7827,HR,9234,11605
1931,4592,4.0,R,9072,HR,4.0,R,9865,HR,10591,14021
1846,4366,4.0,R,9865,HR,4.0,R,10796,HR,6577,8573
1735,4150,4.0,R,10796,HR,4.0,R,13678,HR,10361,12148
7613,4024,4.0,R,13678,HR,4.0,R,14560,HR,12504,16263
7608,3978,4.0,R,14560,HR,4.0,R,15326,HR,12504,16263
7595,3901,4.0,R,15326,HR,4.0,R,16674,HR,12504,16263
1588,3779,4.0,R,16674,HR,4.0,R,18186,HR,10711,13253
1571,3746,4.0,R,18186,HR,4.0,R,19400,HR,7428,8063
1511,3637,4.0,R,19400,HR,4.0,R,22845,HR,8394,9214
1453,3489,4.0,R,22845,HR,4.0,R,23859,HR,7848,8180
1389,3340,4.0,R,23859,HR,4.0,R,28268,HR,8279,8712
1366,3309,4.0,R,28268,HR,4.0,R,30407,HR,7535,7721
1243,3074,4.0,R,30407,HR,4.0,R,32870,HR,9098,9496
1229,3054,4.0,R,32870,HR,4.0,R,36129,HR,7463,6928