In [9]:
import pandas as pd

!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

In [10]:
data_2019 = 'datasets_spitsuren_wegvakken/INWEVA_2019_spits.xlsx'
df = pd.read_excel(data_2019)
df

,VIAS-baannr,Wegnr_van,Ri_van,Hec_letter_van,Hm_van,Baantype_van,Traject_van,Wegnr_naar,Ri_naar,Hec_letter_naar,...,OS_L2,OS_L3,OS_vrachtperc,AS_AL,AS_L1,AS_L2,AS_L3,AS_vrachtperc,etmaal_AL_vorig_jaar,etmaal_AL_verschil
0,1,33.0,R,b,62808,OPR,N360,33.0,R,b,...,15,9,8,457,421,26,11,8,2092,308
1,2,33.0,R,a,62084,PST,N33,33.0,R,b,...,38,22,17,388,366,18,5,6,2024,176
2,3,33.0,L,c,62769,PST,N33,33.0,L,d,...,2,2,2,316,303,7,7,4,2005,-205
3,4,33.0,R,b,62084,OPR,Farmsumerweg,33.0,R,b,...,2,4,2,248,244,2,2,2,1823,-123
4,5,33.0,L,d,62769,OPR,Farmsumerweg,33.0,L,d,...,23,15,13,402,353,33,17,12,1844,156
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8765,88365,9.0,#,z,5418,TN,A9,9.0,#,z,...,0,0,0,2064,2064,0,0,0,-9223370000000000000,-9223370000000000000
8766,88366,9.0,#,z,4388,TN,A9,9.0,#,z,...,0,0,0,2064,2064,0,0,0,-9223370000000000000,-9223370000000000000
8767,88367,9.0,#,z,3863,PAR,A9,9.0,#,z,...,0,0,0,0,0,0,0,0,-9223370000000000000,-9223370000000000000
8768,88368,9.0,L,q,5648,PST,A9,9.0,L,q,...,0,0,0,2064,2064,0,0,0,-9223370000000000000,-9223370000000000000
8769,89189,9.0,R,p,4388,VBK,A9,9.0,R,p,...,0,0,0,0,0,0,0,0,-9223370000000000000,-9223370000000000000

In [12]:
df[(df['Wegnr_van'] == '4') ]

Empty DataFrame
Columns: [VIAS-baannr, Wegnr_van, Ri_van, Hec_letter_van, Hm_van, Baantype_van, Traject_van, Wegnr_naar, Ri_naar, Hec_letter_naar, Hm_naar, Baantype_naar, Traject_naar, Regio, Lengte_baan_meter, Midden_baan_meter, NwbId, Route4sleutel, Bron_AL, Bron_L123, etmaal_AL, etmaal_L1, etmaal_L2, etmaal_L3, etmaal_vrachtperc, OS_AL, OS_L1, OS_L2, OS_L3, OS_vrachtperc, AS_AL, AS_L1, AS_L2, AS_L3, AS_vrachtperc, etmaal_AL_vorig_jaar, etmaal_AL_verschil]
Index: []

[0 rows x 37 columns]